:root {
  --header-footer-bg-color: rgba(64, 20, 70, 0.5);
  --main-bg-color: #353535;
  --cell-bg-color: rgba(68, 20, 70, 1);
  --cell-selected-bg-color: rgb(116, 57, 118);
  --podium-first-color: gold;
  --podium-second-color: silver;
  --podium-third-color: #b1560f;
  --About-text-bg-color: rgba(151, 71, 152, 0.783);
  --bullet-point-color: rgb(150, 71, 152);
  /*--cell-bg-color: rgba(68, 20, 70, 0.285);*/
}

body {
  background-image: url("../BubbleBearImg/Illus_intro.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  min-height: 100%;
  margin: 0px;
  display: grid;
  z-index: -5;
}

.about-container {
 /*background-color: rgba(223, 189, 216, 0.47);*/
  justify-self: center;
  color: rgb(229, 229, 229);
}

.mobile-only{
  height: auto;
  min-height: 100vh;
  font-size: 1.2rem;
  display:grid;
  grid-template-columns: 1fr;
}

.bullet-point{
  margin-top: 50px;
  display: flex;
  width: 100%;
  height: 10vh;
  background-color: var(--bullet-point-color);
  border-radius: 8px;
  box-shadow: 0px 0px 15px rgba(32, 25, 67, 0.5);
  font-size: 20px;
  text-align: left;
  align-items:center;
}

.other-screen{

  width: auto;
    height: auto;
  min-height: 100vh;
  font-size: 1.2rem;
}

main {
  flex: 1 0 auto;
}

h1 {
  text-align: center;
}

h2 {
  color: rgb(255, 255, 255);
}

@media only screen and (max-width: 575.98px) and (orientation: portrait) {
  .mobile-only{
    display: block;
  }
  .other-screen{
    display: none;
  }
}

@media (min-width: 767.98px) {
  .mobile-only{
    display: none;
  }
      .about-container {
    background-color: var(--About-text-bg-color);
    width: 75vw;
    height: auto;
    min-height: 100vh;
    justify-self: center;
    font-size: 1.2rem;
  }
}

@media (min-width: 767.98px) and (orientation: portrait) {
      .about-container {
    width: 75vw;
    height: auto;
    min-height: 100vh;
    justify-self: center;
  }
}

@media (min-width: 991.98px) {
      .about-container {
    width: 50vw;
    height: auto;
    min-height: 100vh;
    justify-self: center;
  }
}

@media (min-width: 1199.98px) {
}
