footer {
  bottom: 0%;
  display: flex;
  place-content: center;
  width: 100%;
  height: auto;
  background-color: rgba(64, 20, 70, 0.5);
  z-index: 5;
}

footer a:link {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}
footer a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}
footer a:hover {
  color: rgb(255, 124, 146);
  background-color: transparent;
  text-decoration: underline;
}

.headline {
  color: #ffffff;
  font-weight: bold;
}

header {
  display: flex;
  justify-content: space-between;
  margin-right: 25vw;
  margin-left: 25vw;
  height: 15vh;
  width: auto;
  background-color: var(--header-footer-bg-color);
}

/* nav menu */
.NavMainMenu {
  justify-content:space-between;
  align-content:space-evenly;
  max-width: 100%;
  margin-right: 2vw;
}

span + span {
    margin-left: 2vw;
}

.ButtonLoginMainMenu {
  --duration: 0.4s;
  transition-duration: var(--duration);
  color: rgb(255, 255, 255);
  background-color: rgba(37, 0, 172, 0);
  border-color: #ffffff00;
  border-width: 1vw;
  border-radius: 8px;
}

.ButtonLoginMainMenu:hover {
  background-color: rgba(255, 255, 255, 0.452);
  color: rgb(255, 255, 255);
  border-width: 1vw;
  border-radius: 8px;
}

.ButtonRegisterMainMenu {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  border-color: #ffffff00;
  border-width: 1vw;
  border-radius: 8px;
  font-weight: bold;
}

.ButtonRegisterMainMenu:hover {
  background-color: rgb(203, 203, 203);
  border-width: 1vw;
  border-radius: 8px;
}

@media (max-width: 1280px) {
  header {
    display: flex;
    justify-content: space-between;
    margin-right: 0%;
    margin-left: 0%;
    width: 100vw;
    background-color: var(--header-footer-bg-color);
  }
}



