:root {
  --header-footer-bg-color: rgba(64, 20, 70, 0.5);
  --main-bg-color: #353535;
  --cell-bg-color: rgba(68, 20, 70, 1);
  --cell-selected-bg-color: rgb(116, 57, 118);
  --podium-first-color: gold;
  --podium-second-color: silver;
  --podium-third-color: #b1560f;
  /*--cell-bg-color: rgba(68, 20, 70, 0.285);*/
}

.about-container {
  width: 50vw;
  height: auto;
  min-height: 100vh;
  background-color: rgba(223, 189, 216, 0.47);
  justify-self: center;
  font-size: 1.2rem;
}

body {
  background-image: url("../BubbleBearImg/Illus_intro.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  width: 100%;
  min-height: 100%;
  height: 100vh;
  margin: 0px;
  display: grid;
  z-index: -5;
}

main {
  flex: 1 0 auto;
}

h1 {
  text-align: center;
}

h2 {
  color: rgb(255, 255, 255);
}

#general-login-box {
  margin-bottom: 25%;
  border: 5px;
  background: rgb(255, 255, 255);
  border-style: outset;
  border-width: 2px;
  border-radius: 5px;
  justify-self: center;
  display: grid;
  place-items: center;
  width: 90%;
}

#general-login-box a:link {
  color: rgb(88, 94, 255);
  background-color: transparent;
  text-decoration: none;
}
#general-login-box a:visited {
  color: rgb(88, 94, 255);
  background-color: transparent;
  text-decoration: none;
}
#general-login-box a:hover {
  color: rgb(0, 8, 255);
  background-color: transparent;
  text-decoration: underline;
}

/*Text box for each authentification element*/
#login-text-box {
  width: 300px;
  height: 40px;
  background-color: white;
  margin-top: 10px;
}

#login-button {
  background-color: #1877f2;
  color: white;
  font-size: 20px;
  border-radius: 10px;
  border: none;
  height: 60px;
  font-weight: bold;
  width: 100%;
  margin-top: 10px;
}

#login-button:hover {
  background-color: #084594;
}

#register-button {
  background-color: #00a410;
  color: white;
  font-size: 15px;
  text-align: center;
  border-radius: 10px;
  border: none;
  height: 60px;
  font-weight: bold;
  width: 200px;
}

#register-button:hover {
  background-color: #00740c;
}

#register-button-2 {
  position: relative;
  background-color: #00a410;
  color: white;
  font-size: 20px;
  border-radius: 10px;
  border: none;
  height: 60px;
  font-weight: bold;
  width: 100%;
  margin-top: 10px;
}

@media only screen and (max-width: 575.98px) and (orientation: portrait) {
  #general-login-box {
    margin-bottom: 25%;
    border: 5px;
    background: rgb(255, 255, 255);
    border-style: outset;
    border-width: 2px;
    border-radius: 5px;
    justify-self: center;
    display: grid;
    place-items: center;
    width: 90%;
    height: 90%;
  }
}

@media (min-width: 767.98px) and (orientation: landscape) {
  #general-login-box {
    margin-top: 1%;
    border: 5px;
    width: 400px;
    height: 400px;
    background: rgb(255, 255, 255);
    border-style: outset;
    border-width: 2px;
    border-radius: 5px;
    justify-self: center;
    display: grid;
    place-items: center;
  }
}

@media (min-width: 767.98px) and (orientation: portrait) {
  
  #general-login-box {
    margin-bottom: 25%;
    border: 5px;
    background: rgb(255, 255, 255);
    border-style: outset;
    border-width: 2px;
    border-radius: 5px;
    justify-self: center;
    display: grid;
    place-items: center;
    width: 400px;
    height: 400px;
  }
}

@media (min-width: 991.98px) {
}

@media (min-width: 1199.98px) {
}
